body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../images/sfondoChiSiamo.jpg");
    background-size: 500px;

}

.sidebar {
    width: 275px;
    height: 270%;
    background-color: #000;
    position: absolute;
    left: 0;
    padding: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 50px 0 0 0;
}

.sidebar ul li {
    margin-bottom: 35px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

#arrow-right {
    color: #955f20;
}

header {
    background-color: #955f20;
    padding: 2px 20px 0 40px;
}





.oggetti{
    position: absolute;
    height: 277.7%;
    background-color: rgba(0,0,0,0.5);
    color: black;
    margin-left: 335px;
    text-align: center;
}

.titolo{
    font-family: "Komoda", sans-serif;
    font-size: 100px;
    width: 98%;
    color:  black;
    background-color: rgba(149,95,32,0.6);
    padding: 1%;
}

.oggetti img{
    width: 50%;
    padding: 3%;
    opacity: 0.8;
}

.oggetti h2{
    padding: 1.5%;
    font-family: "Komoda", sans-serif;
    font-size: 50px;
    background-color: rgba(149,95,32,0.6);
}

.oggetti p{
    color: white;
    padding: 2%;
    background-color: rgba(149,95,32,0.6);
}


/* CSS Responsive */
@media screen and (max-width: 1200px) {
    .sidebar {
        width: 100%;
        position: static;
        padding: 10px;
        box-sizing: border-box;
    }

    .oggetti{
        margin-left: 0;
    }
    .titolo{
        font-size: 80px;
    }
}

@font-face {
    font-family: "Komoda";
    src: url("../Komoda/Komoda.otf") format("woff2");
}