body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../images/sfondoFormazione.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 275px;
    height: 145%;
    background-color: #000;
    position: absolute;
    left: 0;
    padding: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 50px 0 0 0;
}

.sidebar ul li {
    margin-bottom: 35px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

#arrow-right {
    color: #1ABCEF;
}

header {
    background-color: #1ABCEF;
    padding: 2px 20px 0 40px;
}




/* Stili per la lista */
.titolo{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 30px;
    color: white;
}
.corsidiv{
    margin-left: 24%;
}

.corsi {
    list-style-type: none;
    padding: 0;
}

.corsi li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.immagini{
    width: 15%;
}
.immaginitesto{
    width: 70%;
    margin-left: 2%;
    color: white;
}
.btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}




/* modifiche responsive*/
@media screen and (max-width: 1200px) {
    .sidebar {
        width: 100%;
        position: static;
        padding: 10px;
        box-sizing: border-box;
    }

    .corsidiv{
        margin-left: 0;
    }

    .immagini{
        margin-top: auto;
        margin-bottom: auto;
        width: 28%;
        height: 140px;
    }
}
