body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../images/sfondoInfoMestiere.jpeg");
    background-size: revert;
}

.sidebar {
    width: 275px;
    height: 175%;
    background-color: #000;
    position: absolute;
    left: 0;
    padding: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 70px 0 0 0;
}

.sidebar ul li {
    margin-bottom: 35px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

#arrow-right {
    color: #1ABCEF;
}

header {
    background-color: #1ABCEF;
    padding: 2px 20px 0 40px;
}



/* Stili per la lista */
.titolo{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 30px;
    color: white;
}

.mestieridiv{
    margin-left: 24%;
}

.mestieri {
    list-style-type: none;
    padding: 0;
}

.mestieri li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.immagini{
    width: 25%;
}
.immaginitesto{
    width: 70%;
    margin-left: 2%;
    color: white;
}
.btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}


