body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.sidebar {
    width: 275px;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    padding: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 5px;
    margin: 50px 0 0 0;
}

.sidebar ul li {
    margin-bottom: 35px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

#arrow-right {
    color: #1ABCEF;
}

header {
    background-color: #1ABCEF;
    padding: 2px 20px 0 40px;
}